
[class^="hy-icon-"],
[class*=" hy-icon-"] {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  .flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;    
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-center-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-center-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}